@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,200&family=Edu+NSW+ACT+Foundation&family=Work+Sans:wght@200&display=swap");

.body {
  width: 100%;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.box {
  margin: 0 auto;
  background-color: #a47dc75d;
  height: auto;

  width: 100%;
}
.header-meny-name__nik {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 10px;
  display: block;
}
.header-meny {
  height: 50px;
  position: relative;
  background-color: #a47dc763;
  position: relative;
}
.header-meny-name {
  padding-top: 5px;
  margin-left: 25px;
  color: #360a5d;
  font-family: "Work Sans", sans-serif;
}
.user {
  width: 900px;
  height: 300px;
  top: 170px;
  left: 50%;
  margin-left: -450px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.user__img {
  border-radius: 10px;
}
.user-info {
  background: linear-gradient(to top right, #9274aae1 75%, #43285800 10%);
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.user-info__span {
  margin: 20px 0 15px 10px;

  font-size: 30px;
  font-family: "Work Sans", sans-serif;
}
.user-info__span-info {
  margin-left: 10px;
  font-size: 25px;
  margin-bottom: 5px;
  font-family: serif;
}
.user-info-text {
  display: flex;

  width: 450px;
  margin-left: 10px;
  margin-top: 10px;
  color: rgba(7, 7, 48, 0.87);
}
.user-info-text__sv {
  font-size: 20px;
  font-weight: 600;
  width: 130px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-seri;
}
.user-info-text__res {
  margin-top: 5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.box-img {
  background-image: url("img/1611023044_15-p-fon-it-27.jpg");
  height: 500px;
  background-size: cover;
}

.main {
  margin-top: 30px;
  font-size: 23px;
  margin-left: 30px;
  
  font-family: 'Times New Roman', Times, serif;
  
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  margin-right: 20px;
}
.main-container{
  width: 60%;
}
.main-container-soft{
  width: 40%;
}
.main-container-info {
  display: block;
  margin-top: 33px;
}
.main__ul li{
  margin-bottom: 6px;
 
} 

.main__img{
border-radius:20% ;

}
.main__img-soft-skill{
width: 400px;
border-radius: 60%;
margin-left: 0px;
}

